

.topBar {
  left: 0;
  right: 0;
  position: absolute;

  .wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  .logo {
    z-index: 1;
  }

  .menu {
    //display: flex;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .sign {
    z-index: 1;
    margin-left: auto;
  }
}